@model Game
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/p5@1/lib/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1/lib/addons/p5.sound.min.js"></script>
    <script src="https://p5play.org/v3/planck.min.js"></script>
    <script src="https://p5play.org/v3/p5play.js"></script>
    <script src="~/js/game.js"></script>
    <script src="~/js/comments.js" defer></script>
}

<h1>@Model.Name</h1>

<textarea id="comment-content" name="comment" placeholder="Share your thoughts and leave a comment!"></textarea>
<button data-id="@Model.Id" id="comment-submit" style="display:block;">Submit</button>

@foreach (var comment in Model.Comments.ToList().OrderBy(u => u.UpdatedAt))
{
        <p>@comment.Content</p>
}
